// CSS WORMHOLE - CREDIT TO https://codepen.io/cyberpunk2077/pen/NjJxWe

// Scene -----------------------------------------
$background-color: #190247;
.band-name-vortex {
  background-color: $background-color;
  height: 100vh;
  margin: 0;
  perspective: 5em;
  position: fixed;
  width: 100vw;
  min-height: 450px;
}

.band-name-vortex::after {
  background-color: inherit;
  border-radius: 50%;
  box-shadow: 0 0 2em 2em $background-color;
  content: '';
  height: 1em;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1em;
}

// Cylinder --------------------------------------

.cylinder {
  animation-iteration-count: infinite;
  animation-name: tunnel;
  animation-timing-function: linear;
  left: 50%;
  position: absolute;
  top: 50%;
  transform-style: preserve-3d;
  transform: rotatex(90deg) rotatey(0) translatey(-25em);

  &:nth-child(1) {
    animation-duration: 10s;
  }
  &:nth-child(2) {
    animation-duration: 5s;
  }
}

// Side ------------------------------------------

.side {
  background-image: url(../img/vortex-background.jpg);
  background-size: 32em 10em;
  filter: hue-rotate(-100deg) saturate(0.7);
  height: 40em;
  position: absolute;
  transform-origin: 0;
  width: 2em;

  @for $i from 1 through 32 {
    &:nth-child(#{$i}) {
      background-position: -1em * $i;
      transform: rotatey(11.25deg * $i) translate3d(-50%, 0, 5em);
    }
  }

  .cylinder:nth-child(2) & {
    opacity: 0.5;
  }
}

// Animation -------------------------------------

@keyframes tunnel {
  100% {
    transform: rotatex(90deg) rotatey(360deg) translatey(-15em);
  }
}
