.band-name-vortex {
  background-color: #1e0059;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  perspective: 5em;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  video {
    height: 100%;
    width: 188.877229801vh; /* 100 * 1800 / 953 */
    min-width: 100%;
    min-height: 52.944444444vw; /* 100 * 953 / 1800 */

    position: absolute;
    left: 50%; /* % of surrounding element */
    top: 50%;
    transform: translate(-50%, -50%); /* % of current element */
  }
}
// 1800/953
